user <%= scope.lookupvar('nginx::params::user') %> <%= scope.lookupvar('nginx::params::group') %>;
worker_processes <%= @worker_processes %>;
<% if scope.lookupvar('lsbdistcodename') == 'precise' -%>
include /etc/nginx/modules-enabled/*.conf;
<% end -%>

error_log /var/log/nginx/error.log notice;
pid /var/run/nginx.pid;

events {
  worker_connections <%= @worker_connections %>;
  <% if scope.lookupvar('nginx::params::multi_accept') == 'on' %>multi_accept on;<% end %>
}
worker_rlimit_nofile <%= scope.lookupvar('nginx::params::worker_rlimit_nofile') %>;

http {
  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                  '$status $bytes_sent "$http_referer" '
                  '"$http_user_agent" "$http_x_forwarded_for" $scheme '
                  '"$http_accept_language" "$http_host" "$http_x_client_id"';

  log_format data '$remote_addr - $remote_user [$time_local] "$request" '
                  '$status $bytes_sent "$http_referer" '
                  '"$http_user_agent" "$http_x_forwarded_for" $scheme '
                  '"$http_accept_language" "$http_host" "$http_x_client_id" '
                  '$http_content_length "$http_content_type" $request_body';

  access_log /var/log/nginx/access.log main;
  server_tokens off;

  sendfile <%= scope.lookupvar('nginx::params::sendfile')%>;

  <% if scope.lookupvar('nginx::params::tcp_nopush') == 'on' %>
  tcp_nopush on;
  <% end %>

  keepalive_timeout <%= scope.lookupvar('nginx::params::keepalive_timeout') %>;
  tcp_nodelay <%= scope.lookupvar('nginx::params::tcp_nodelay') %>;

  <% if scope.lookupvar('nginx::params::gzip') == 'on' %>
  gzip on;
  gzip_disable "msie6";
  gzip_min_length 100;
  gzip_buffers 4 8k;
  gzip_types text/plain text/xhtml text/css application/x-javascript application/javascript text/xml application/atom+xml application/rss+xml;
  <% end %>

  ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH EDH+aRSA -3DES DES-CBC3-SHA !aNULL !eNULL !LOW !MD5 !EXP !PSK !SRP !DSS !RC4";
  ssl_prefer_server_ciphers on;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
  <% if @ssl_session_cache == 'on' %>
  ssl_session_cache shared:SSL:1m;
  <% else %>
  ssl_session_cache off;
  <% end %>

  types_hash_max_size 2048;

  server_names_hash_bucket_size 64;

  <% if @geoip_country %>
  geoip_country <%= @geoip_country %>;
  <% end %>
  <% if @geoip_city %>
  geoip_city <%= @geoip_city %>;
  <% end %>

  include /etc/nginx/conf.d/*.conf;
  include /etc/nginx/sites-enabled/*;
}
